In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv("Amazon.csv")

# Show first few rows
print(df.head())

# Show summary info
print(df.info())

# Check basic statistics
print(df.describe())

      OrderID   OrderDate  CustomerID   CustomerName ProductID  \
0  ORD0000001  2023-01-31  CUST001504  Vihaan Sharma    P00014
1  ORD0000002  2023-12-30  CUST000178    Pooja Kumar    P00040
2  ORD0000003  2022-05-10  CUST047516    Sneha Singh    P00044
3  ORD0000004  2023-07-18  CUST030059   Vihaan Reddy    P00041
4  ORD0000005  2023-02-04  CUST048677  Aditya Kapoor    P00029

           ProductName        Category       Brand  Quantity  UnitPrice  \
0           Drone Mini           Books   BrightLux         3     106.59
1           Microphone  Home & Kitchen  UrbanStyle         1     251.37
2  Power Bank 20000mAh        Clothing  UrbanStyle         3      35.03
3       Webcam Full HD  Home & Kitchen      Zenith         5      33.58
4              T-Shirt        Clothing    KiddoFun         2     515.64

   Discount    Tax  ShippingCost  TotalAmount     PaymentMethod OrderStatus  \
0      0.00   0.00          0.09       319.86        Debit Card   Delivered
1      0.05  19.10          1.74       259.64        Amazon Pay   Delivered
2      0.10   7.57          5.91       108.06        Debit Card   Delivered
3      0.15  11.42          5.53       159.66  Cash on Delivery   Delivered
4      0.25  38.67          9.23       821.36       Credit Card   Cancelled

          City State        Country   SellerID
0   Washington    DC          India  SELL01967
1   Fort Worth    TX  United States  SELL01298
2       Austin    TX  United States  SELL00908
3    Charlotte    NC          India  SELL01164
4  San Antonio    TX         Canada  SELL01411
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 20 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   OrderID        100000 non-null  object
 1   OrderDate      100000 non-null  object
 2   CustomerID     100000 non-null  object
 3   CustomerName   100000 non-null  object
 4   ProductID      100000 non-null  object
 5   ProductName    100000 non-null  object
 6   Category       100000 non-null  object
 7   Brand          100000 non-null  object
 8   Quantity       100000 non-null  int64
 9   UnitPrice      100000 non-null  float64
 10  Discount       100000 non-null  float64
 11  Tax            100000 non-null  float64
 12  ShippingCost   100000 non-null  float64
 13  TotalAmount    100000 non-null  float64
 14  PaymentMethod  100000 non-null  object
 15  OrderStatus    100000 non-null  object
 16  City           100000 non-null  object
 17  State          100000 non-null  object
 18  Country        100000 non-null  object
 19  SellerID       100000 non-null  object
dtypes: float64(5), int64(1), object(14)
memory usage: 15.3+ MB
None
            Quantity      UnitPrice       Discount            Tax  \
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        3.001400     302.905748       0.074226      68.468902
std         1.413548     171.840797       0.082583      74.131180
min         1.000000       5.000000       0.000000       0.000000
25%         2.000000     154.190000       0.000000      15.920000
50%         3.000000     303.070000       0.050000      45.250000
75%         4.000000     451.500000       0.100000      96.060000
max         5.000000     599.990000       0.300000     538.460000

        ShippingCost    TotalAmount
count  100000.000000  100000.000000
mean        7.406660     918.256479
std         4.324057     724.508332
min         0.000000       4.270000
25%         3.680000     340.890000
50%         7.300000     714.315000
75%        11.150000    1349.765000
max        15.000000    3534.980000

In [3]:
# Count missing values per column
print(df.isnull().sum())

# Fill or drop missing values as needed
df = df.dropna(subset=['OrderID','CustomerID','ProductID'])

OrderID          0
OrderDate        0
CustomerID       0
CustomerName     0
ProductID        0
ProductName      0
Category         0
Brand            0
Quantity         0
UnitPrice        0
Discount         0
Tax              0
ShippingCost     0
TotalAmount      0
PaymentMethod    0
OrderStatus      0
City             0
State            0
Country          0
SellerID         0
dtype: int64

In [8]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'], errors='coerce')
print(df['OrderDate'])

0       2023-01-31
1       2023-12-30
2       2022-05-10
3       2023-07-18
4       2023-02-04
           ...
99995   2023-03-07
99996   2021-11-24
99997   2023-04-29
99998   2021-11-01
99999   2021-12-04
Name: OrderDate, Length: 100000, dtype: datetime64[ns]

In [11]:
df['Year'] = df['OrderDate'].dt.year
df['Month'] = df['OrderDate'].dt.month

df['TotalSales'] = df['Quantity'] * df['UnitPrice']
print(df['Year'].head(),df['Month'].head(),df['TotalSales'].head())

0    2023
1    2023
2    2022
3    2023
4    2023
Name: Year, dtype: int32 0     1
1    12
2     5
3     7
4     2
Name: Month, dtype: int32 0     319.77
1     251.37
2     105.09
3     167.90
4    1031.28
Name: TotalSales, dtype: float64

In [13]:
# Total sales by year
sales_by_year = df.groupby('Year')['TotalSales'].sum()
print(sales_by_year)

# Top 10 products by sales
top_products = df.groupby('ProductName')['TotalSales'].sum().sort_values(ascending=False).head(10)
print(top_products)

Year
2020    18355658.73
2021    18085812.35
2022    18197768.61
2023    18361035.17
2024    18020938.13
Name: TotalSales, dtype: float64
ProductName
Memory Card 128GB              1925774.79
LED Desk Lamp                  1909854.95
Mechanical Keyboard            1886484.85
Electric Kettle                1886239.46
Smartwatch                     1881961.28
Gaming Mouse                   1881177.65
Water Bottle                   1879086.56
Dress Shirt                    1872813.24
Noise Cancelling Headphones    1869793.13
Kids Toy Car                   1868347.34
Name: TotalSales, dtype: float64

In [14]:
# Check negative values
df[df['Quantity'] <= 0]

# Check duplicate orders
df[df.duplicated(subset='OrderID')]

Empty DataFrame
Columns: [OrderID, OrderDate, CustomerID, CustomerName, ProductID, ProductName, Category, Brand, Quantity, UnitPrice, Discount, Tax, ShippingCost, TotalAmount, PaymentMethod, OrderStatus, City, State, Country, SellerID, Year, Month, TotalSales]
Index: []

[0 rows x 23 columns]

In [17]:
customer_summary = df.groupby('CustomerID').agg(
    total_orders=('OrderID', 'nunique'),
    total_sales=('TotalSales', 'sum'),
    avg_order_value=('TotalSales', 'mean')
).reset_index()

print(customer_summary.head())

   CustomerID  total_orders  total_sales  avg_order_value
0  CUST000001             1       453.36       453.360000
1  CUST000002             3      1394.75       464.916667
2  CUST000003             1      1206.85      1206.850000
3  CUST000004             3      2857.24       952.413333
4  CUST000005             1      1215.00      1215.000000

In [18]:
product_summary = df.groupby('ProductName').agg(
    total_quantity=('Quantity', 'sum'),
    total_sales=('TotalSales', 'sum')
).reset_index()
print(product_summary)

                    ProductName  total_quantity  total_sales
0                    4K Monitor            6111   1846679.66
1                 Action Camera            6104   1810180.17
2                     Air Fryer            5956   1778056.72
3                      Backpack            5848   1734316.40
4             Bluetooth Speaker            5782   1790041.97
5                    Board Game            6200   1848573.14
6                   Car Charger            5754   1760180.70
7               Children's Book            5619   1719460.52
8                  Cookware Set            6130   1860255.19
9                Desk Organizer            6079   1832361.24
10                   Desk Plant            5847   1751649.46
11                  Dress Shirt            5960   1872813.24
12                   Drone Mini            5975   1797089.37
13              Electric Kettle            6165   1886239.46
14             External HDD 2TB            5858   1777840.15
15                 Fitness Band            5724   1760411.97
16                 Gaming Mouse            6170   1881177.65
17               Graphic Tablet            5789   1777180.62
18                HDMI Cable 2m            5985   1827014.54
19                  Instant Pot            6016   1815162.17
20                        Jeans            6037   1859097.67
21                 Kids Toy Car            6131   1868347.34
22                LED Desk Lamp            6344   1909854.95
23                Laptop Sleeve            5992   1823419.48
24          Mechanical Keyboard            6161   1886484.85
25            Memory Card 128GB            6240   1925774.79
26                   Microphone            6196   1848263.85
27  Noise Cancelling Headphones            6091   1869793.13
28             Novel Bestseller            5894   1791402.24
29                 Office Chair            5998   1809420.91
30                 Phone Tripod            5944   1848237.73
31             Portable SSD 1TB            5996   1803092.39
32          Power Bank 20000mAh            5931   1788145.58
33               Projector Mini            5873   1785724.68
34                Puzzle 1000pc            5884   1787068.59
35                       Router            6202   1840128.33
36                Running Shoes            5948   1810421.47
37             Smart Light Bulb            6131   1855354.97
38              Smartphone Case            6060   1863755.64
39                   Smartwatch            5983   1881961.28
40                   Sunglasses            5842   1774344.79
41                      T-Shirt            5882   1775273.36
42                USB-C Charger            5811   1760316.98
43               Vacuum Cleaner            6139   1833981.33
44                 Water Bottle            6275   1879086.56
45               Webcam Full HD            6002   1788592.99
46                Winter Jacket            5917   1784683.78
47             Wireless Charger            6079   1787999.54
48             Wireless Earbuds            6008   1821310.11
49                     Yoga Mat            6077   1833189.34

In [19]:
df.to_csv("amazon_orders_cleaned.csv", index=False)
customer_summary.to_csv("customer_summary.csv", index=False)
product_summary.to_csv("product_summary.csv", index=False)